<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="stylesheets/amazeui.min.css" />
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/amazeui.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="am-cf am-g">
            <ul class="am-avg-sm-2 my-shop-product-list">
                <li>
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-bd">
                            <img class="am-img-responsive" src="default/img2.jpg" />
                            <h3>
                                <a href="#">电蟒原装智能遥控器</a>
                            </h3>
                            <div>
                                <span class="list-product-price-span2">￥89.00</span>
                                <span class="list-product-sorce-span">销量
                                    <br/>4</span>
                            </div>
                            <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-cf" />
                            <ol class="am-avg-sm-2 product-list-share">
                                <li class="am-text-sm">积分：200</li>
                                <li>
                                    <button class="am-btn am-btn-danger am-btn-xs index-addcart-btn" onClick="window.location.href='这里写跳转链接'">立即购买</button>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>